@layer utilities {
  .font-display {
    font-family: 'Bebas Neue', cursive;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
