@layer utilities {
    .font-display {
        font-family: 'Bebas Neue', cursive;
    }

}

@layer utilities {
    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
}